<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>List TypeProduct</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Full Name:</th>

        </tr>
        </thead>
        <tbody>
            <tr th:each="list ,iStat: ${typeProducts}">
                <td th:text="${list.id}"></td>
                <td th:text="${list.name_type}"></td>
                <td ><a th:href="@{/admin/products/{id}(id=${list.id})}">View</a></td>
            </tr>
        </tbody>

    </table>
</body>
</html>